img {
    margin: 8px;
    width: 152px;
    height: 152px;
}
.listing {
    background: aliceblue;
    height: 168px;
    width: 992px;
    display: flex;
    flex-direction: row;
}
.listing-info {
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.price-and-avail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.avail-and-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.listing-title {
    margin-bottom: 0;
    padding: 5px;
}

